<!DOCTYPE html>
<html lang="<%= language.code %>">
  <head>
    <% metas.forEach((meta) => { %><%- meta %>
    <% }) %>
    
    <title><%= _('Qwant Maps') %> <% if(config.envName) { %> - <%= config.envName %><% } %></title>
    
    <base href="<%= config.system.baseUrl %>" target="_blank" />

    <link rel="icon" href="./statics/images/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="./statics/images/logo_192.png" />
    <link rel="manifest" href="./statics/manifest.json">
    <link href="./statics/build/css/app-<%= config.compilationHash %>.css" rel="stylesheet" />
    <link href="./mapstyle/iconfont/iconfont.css" rel="stylesheet" />
    <link rel="search" type="application/opensearchdescription+xml" href="<%= config.system.baseUrl %>opensearch.xml" title="Qwant Maps search" />
    
    <% if(typeof poi !== 'undefined') { %>
    <script>
      window.hotLoadPoi = <%- JSON.stringify(poi) %>;
    </script>
    <% } %>
  </head>
  <body data-theme="light">
    <script>
      window.baseUrl = "<%= config.system.baseUrl %>";
      window.preferedLanguage = <%- JSON.stringify(language) %>;
      window.initialBbox = <%- JSON.stringify(locals.initialBbox || null) %>;
      <%- `window.__config = ${JSON.stringify(config,
        (k,v) => k==='server' ? undefined : v)};` %>
    </script>
    <% if(config.telemetry.enabled) { %>
      <script type="text/javascript">
        (function(window, document, dataLayerName, id) {
          window[dataLayerName]=window[dataLayerName]||[],window[dataLayerName].push({start:(new Date).getTime(),event:"stg.start"});var scripts=document.getElementsByTagName('script')[0],tags=document.createElement('script');
          function stgCreateCookie(a,b,c){var d="";if(c){var e=new Date;e.setTime(e.getTime()+24*c*60*60*1e3),d="; expires="+e.toUTCString();f="; SameSite=Strict"}document.cookie=a+"="+b+d+f+"; path=/"}
          var isStgDebug=(window.location.href.match("stg_debug")||document.cookie.match("stg_debug"))&&!window.location.href.match("stg_disable_debug");stgCreateCookie("stg_debug",isStgDebug?1:"",isStgDebug?14:-1);
          var qP=[];dataLayerName!=="dataLayer"&&qP.push("data_layer_name="+dataLayerName),isStgDebug&&qP.push("stg_debug");var qPString=qP.length>0?("?"+qP.join("&")):"";
          tags.async=!0,tags.src="<%= config.telemetry.url %>"+id+".js"+qPString,scripts.parentNode.insertBefore(tags,scripts);
          !function(a,n,i){a[n]=a[n]||{};for(var c=0;c<i.length;c++)!function(i){a[n][i]=a[n][i]||{},a[n][i].api=a[n][i].api||function(){var a=[].slice.call(arguments,0);"string"==typeof a[0]&&window[dataLayerName].push({event:n+"."+i+":"+a[0],parameters:[].slice.call(arguments,1)})}}(i[c])}(window,"ppms",["tm","cm"]);
          })(window, document, 'dataLayer', '<%= config.telemetry.token %>');
      </script>
    <% } %>
    <div id="scene_container" class="map_container"></div>
    <div id="react_root"></div>
    <div id="root"></div>
    <div class="react_modal__container"></div>
    <script>
      window.times = { init: Date.now() };
    </script>
    <script src="./statics/build/javascript/bundle-<%= config.compilationHash %>.js"></script>
    <noscript><%= _('JavaScript is required to view this application.') %></noscript>
  </body>
</html>
