<!DOCTYPE html>
<html lang="<%= language.code %>">
  <head>
    <% metas.forEach((meta) => { %><%- meta %>
    <% }) %>
    
    <title><%= _('Qwant Maps') %> <% if(config.envName) { %> - <%= config.envName %><% } %></title>
    
    <base href="<%= config.system.baseUrl %>" target="_blank" />

    <link rel="icon" href="./statics/images/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="./statics/images/logo_192.png" />
    <link rel="manifest" href="./statics/manifest.json">
    <link href="./statics/build/css/app-<%= config.compilationHash %>.css" rel="stylesheet" />
    <link href="./mapstyle/iconfont/iconfont.css" rel="stylesheet" />
    <link rel="search" type="application/opensearchdescription+xml" href="<%= config.system.baseUrl %>opensearch.xml" title="Qwant Maps search" />
    
    <% if(typeof poi !== 'undefined') { %>
    <script>
      window.hotLoadPoi = <%- JSON.stringify(poi) %>;
    </script>
    <% } %>
  </head>
  <body data-theme="light">
    <script>
      window.baseUrl = "<%= config.system.baseUrl %>";
      window.preferedLanguage = <%- JSON.stringify(language) %>;
      window.initialBbox = <%- JSON.stringify(locals.initialBbox || null) %>;
      <%- `window.__config = ${JSON.stringify(config,
        (k,v) => k==='server' ? undefined : v)};` %>
    </script>
    <div id="scene_container" class="map_container"></div>
    <div id="react_root"></div>
    <div id="root"></div>
    <div class="react_modal__container"></div>
    <script>
      window.times = { init: Date.now() };
    </script>
    <script src="./statics/build/javascript/bundle-<%= config.compilationHash %>.js"></script>
    <noscript><%= _('JavaScript is required to view this application.') %></noscript>
  </body>
</html>
