<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title><%= _('Qwant Maps') %>
      <% if(config.app.versionFlag) { %> - <%= config.app.versionFlag %><% } %>
    </title>
    <meta name="description" content="<%= _('The map that respects your privacy') %>">
    <base href="<%= config.system.baseUrl %>" target="_blank">
    <meta name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no'/>
    <link rel="manifest" href="./statics/manifest.json">
    <meta name="theme-color" content="#FFFFFF"/>
    <link rel="apple-touch-icon" href="./statics/images/logo_192.png">
    <link rel="icon" type="image/png" href="./statics/images/favicon.png">
    <link href='./statics/css/app.css' rel='stylesheet'/>
    <link href='./mapstyle/iconfont/iconfont.css' rel='stylesheet'/>
    <link rel="search" type="application/opensearchdescription+xml" href="<%= config.system.baseUrl %>opensearch.xml" title="Qwant Maps search">

    <% ogMetas.forEach((ogMeta) => { %>
      <meta property="og:<%= ogMeta.name %>" content="<%= ogMeta.content %>">
    <%  }) %>

    <% if(typeof poi !== 'undefined') { %>
      <script>
        window.hotLoadPoi = <%- JSON.stringify(poi) %>;
      </script>
    <% } %>
  </head>
  <body>
  <script>
    window.baseUrl = "<%= config.system.baseUrl %>";
    window.preferedLanguage = <%- JSON.stringify(language) %>;
    window.initialBbox = <%- JSON.stringify(locals.initialBbox || null) %>;
    <%- `window.__config = ${JSON.stringify(config,
      (k,v) => k==='server' ? undefined : v)};` %>
  </script>
    <div id="scene_container" class="map_container"></div>
    <div id="react_root"></div>
    <div class="react_modal__container"></div>
    <div class="top_bar">
      <form onsubmit="return false" novalidate class="search_form">
        <button
          type="button"
          onclick="window.app.navigateTo('/');"
          class="search_form__logo__button"
          title="<%= _('Qwant Maps Home', 'search bar') %>"
          <% if(config.app.versionFlag) { %>
            data-flag-text="<%= config.app.versionFlag %>"
          <% } %>
        ></button>
        <div class="search_form__wrapper empty">
          <div class="search_form__return icon-arrow-left"></div>
          <input id="search" type="search" class="search_form__input" spellcheck="false" required placeholder="<%= _('Search on Qwant Maps') %>" autocomplete="off">
          <button id="clear_button_mobile" class="search_form__clear icon-x" type="button" onmousedown="clearSearch(event)" title="<%= _('Clear', 'search bar') %>"></button>
          <input type="submit" value="" class="search_form__action" onclick="submitSearch()" title="<%= _('Search') %>">
        </div>
        <div id="react_menu__container"></div>
        <% if(config.direction.enabled) { %>
        <button class="search_form__direction_shortcut" title="<%= _('Directions', 'top bar') %>"></button>
        <button id="clear_button_desktop" class="search_form__clear icon-x" type="button" onmousedown="clearSearch(event)" title="<%= _('Clear', 'search bar') %>"></button>
        <% } %>
      </form>
      <div class="search_form__result"></div>
    </div>
    <script>
      window.times = {init : Date.now()}
    </script>
    <% if (noUi) { %>
    <script>
      // iframe: hide UI immediately to avoid content flashing while the JS bundle loads
      window.no_ui = true;
      document.body.classList.add('no_ui');
    </script>
    <% } %>
    <script src="./statics/build/javascript/bundle.js"></script>
    <noscript><%= _('JavaScript is required to view this application.') %></noscript>
  </body>
</html>
