<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title><%= _('Qwant Maps - beta') %></title>
    <base href="<%= config.system.baseUrl %>" target="_blank">
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no'/>
    <link href='./css/app.css' rel='stylesheet'/>
    <link href='https://qwantresearch.github.io/qwant-basic-gl-style/iconfont.css' rel='stylesheet'/>
  </head>
  <body>
  <img src="./images/tmp_fixtures/circle.png" id="pinPointCircle">
  <script>
    window.baseUrl = "<%= config.system.baseUrl %>"
    window.preferedLanguage = <%- JSON.stringify(language) %>
    <%- `window.__config = ${JSON.stringify(config)};` %>
  </script>
    <div id="scene_container" class="map_container"></div>

    <div id="panels"></div>
    <div class="top_bar">
      <form onsubmit="return false" class="search_form">
        <div class="search_form__burger" onclick="fire('toggle_burger')">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="search_form__logo"></div>
        <input id="search" type="search" class="search_form__input" required placeholder="<%= _('Where do you want to go ?') %>">
        <input type="submit" value="" class="search_form__action" onclick="fire('submit_autocomplete')">
        <button id="clear_button" class="search_form__clear icon icon-cross" type="button" onclick="search.value='';"></button>
      </form>
      <div class="osm_contribute">
        <img class="osm_contribute__logo" src="./images/Openstreetmap_logo.svg">
        <div class="osm_contribute__text_container">
          <p class="osm_contribute__title">
            <%= _('Qwant Maps uses OpenStreetMap') %>
          </p>
          <a class="osm_contribute__link" href="https://learnosm.org/" target="_blank">
            <i class="icon-chevrons-right"></i><%= _('ABOUT THE PROJECT') %>
          </a>
        </div>
      </div>
    </div>
    <div class="loader_bar" id="loader-bar">
      <div id="progress-bar" class="loader_bar__progress"></div>
    </div>
    <% if(config.system.evalFiles) { %>
      <script src="./javascript/file_loader.js"></script>
    <% } else { %>
      <script src="./javascript/file_loader-debug.js"></script>
    <% } %>
    <script src="./build/javascript/bundle.js"></script>
    <script>
      /* Autocomplete */
      document.onkeydown = (e) => {
        if(!e.shiftKey && !e.ctrlKey)
          document.getElementById('search').focus()
      }

      /* Progress */
      const progressBar = document.querySelector('#progress-bar')
      const loaderBar = document.querySelector('#loader-bar')
      let mapLoader = new FileLoader('./build/javascript/map.js')
      mapLoader.onLoad = () => {
        loaderBar.classList.add('loader_bar--loaded')
      }
      mapLoader.onProgress = (e) => {
        progressBar.style.width = `${e.loaded / e.total * 100}%`
      }
    </script>
  </body>
</html>
