<!DOCTYPE html>
<html lang="<%= language.code %>">
  <head>
    <meta charset="utf-8" />
    <title><%= _('Qwant Maps') %> <% if(config.envName) { %> - <%= config.envName %><% } %></title>
    <meta name="description" content="<%= _('The map that respects your privacy') %>" />
    <base href="<%= config.system.baseUrl %>" target="_blank" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
    />
    <meta name="theme-color" content="#FFFFFF" />

    <link rel="icon" href="./statics/images/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="./statics/images/logo_192.png" />
    <link rel="manifest" href="./statics/manifest.json">

    <link href="./statics/build/css/app-<%= config.compilationHash %>.css" rel="stylesheet" />
    <link href="./mapstyle/iconfont/iconfont.css" rel="stylesheet" />
    <link
      rel="search"
      type="application/opensearchdescription+xml"
      href="<%= config.system.baseUrl %>opensearch.xml"
      title="Qwant Maps search"
    />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="https://www.qwant.com/maps/statics/images/twitter.jpg">
    <meta name="twitter:site" content="@QwantCom">
    <meta name="twitter:creator" content="@QwantCom">
    <meta name="twitter:domain" content="https://www.qwant.com/maps">
    <meta name="twitter:widgets:csp" content="on"/>
    <meta property="og:image" content="https://www.qwant.com/maps/statics/images/facebook.jpg" />
    <meta property="og:image:width" content="1000" />
    <meta property="og:image:height" content="536" />
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://www.qwant.com/maps" id="meta_og_url"/>

    <% ogMetas.forEach((ogMeta) => { %>
    <meta property="og:<%= ogMeta.name %>" content="<%= ogMeta.content %>" />
    <% }) %> <% if(typeof poi !== 'undefined') { %>
    <script>
      window.hotLoadPoi = <%- JSON.stringify(poi) %>;
    </script>
    <% } %>
  </head>
  <body data-theme="light">
    <script>
      window.baseUrl = "<%= config.system.baseUrl %>";
      window.preferedLanguage = <%- JSON.stringify(language) %>;
      window.initialBbox = <%- JSON.stringify(locals.initialBbox || null) %>;
      <%- `window.__config = ${JSON.stringify(config,
        (k,v) => k==='server' ? undefined : v)};` %>
    </script>
    <div id="scene_container" class="map_container"></div>
    <div id="react_root"></div>
    <div id="root"></div>
    <div class="react_modal__container"></div>
    <script>
      window.times = { init: Date.now() };
    </script>
    <script src="./statics/build/javascript/bundle-<%= config.compilationHash %>.js"></script>
    <noscript><%= _('JavaScript is required to view this application.') %></noscript>
  </body>
</html>
