<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title><%= _('Qwant Maps - beta') %></title>
    <base href="<%= config.system.baseUrl %>" target="_blank">
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no'/>
    <link rel="icon" type="image/png" href="./statics/images/favicon.png">
    <link href='./statics/css/app.css' rel='stylesheet'/>
    <link href='./mapstyle/iconfont/iconfont.css' rel='stylesheet'/>

    <% ogMetas.forEach((ogMeta) => { %>
      <meta property="og:<%= ogMeta.name %>" content="<%= ogMeta.content %>">
    <%  }) %>

    <% if(typeof poi !== 'undefined') { %>
      <script>
        window.hotLoadPoi = <%- JSON.stringify(poi) %>;
      </script>
    <% } %>
  </head>
  <body>
  <script>
    window.baseUrl = "<%= config.system.baseUrl %>"
    window.preferedLanguage = <%- JSON.stringify(language) %>
    <%- `window.__config = ${JSON.stringify(config)};` %>
  </script>
    <div id="scene_container" class="map_container"></div>

    <div id="panels"></div>
    <div class="top_bar">
      <form onsubmit="return false" class="search_form">
        <input id="search" type="search" class="search_form__input" required placeholder="<%= _('Where do you want to go ?') %>">
        <input type="submit" value="" class="search_form__action" onclick="fire('submit_autocomplete')">
        <button id="clear_button" class="search_form__clear icon icon-cross" type="button" onclick="search.value='';"></button>
        <div class="search_form__logo"></div>
      </form>
    </div>
    <div class="loader_bar" id="loader-bar">
      <div id="progress-bar" class="loader_bar__progress"></div>
    </div>
    <script src="./statics/javascript/sync_manager.js"></script>
    <% if(config.system.evalFiles) { %>
      <script src="./statics/javascript/file_loader.js"></script>
    <% } else { %>
      <script src="./statics/javascript/file_loader-debug.js"></script>
    <% } %>
    <script src="./statics/build/javascript/bundle.js"></script>
    <script>
      /* Autocomplete */
      document.onkeydown = (e) => {
        if(!e.shiftKey && !e.ctrlKey)
          document.getElementById('search').focus()
      }

      /* Progress */
      const progressBar = document.querySelector('#progress-bar')
      const loaderBar = document.querySelector('#loader-bar')
      let mapLoader = new FileLoader('./statics/build/javascript/map.js')
      mapLoader.onLoad = () => {
        loaderBar.classList.add('loader_bar--loaded')
      }
      mapLoader.onProgress = (e) => {
        progressBar.style.width = `${e.loaded / e.total * 100}%`
      }
    </script>
  </body>
</html>
